<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetIPCLI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SetIPCLI.SetIP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SetIPCLI.UserSettings>
            <setting name="ProfileFileLocation" serializeAs="String">
                <value>%APPDATA%\SetIP\profiles.xml</value>
            </setting>
            <setting name="DefaultNIC" serializeAs="String">
                <value>Local Area Connection</value>
            </setting>
        </SetIPCLI.UserSettings>
        <SetIPCLI.SetIP>
            <setting name="ProfileFileLocation" serializeAs="String">
                <value>%APPDATA%\SetIP\profiles.xml</value>
            </setting>
        </SetIPCLI.SetIP>
    </userSettings>
</configuration>